body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Homemade Apple', cursive;;
}

h1 {
  color: purple;
}

img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}